<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sairaa.omowner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/omroomicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/omroomicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeRules.HomeRulesActivity"></activity>
        <activity android:name=".HotelContact.YourHotelContacts" />
        <activity android:name=".Support.OmSupportActivity" />
        <activity android:name=".RoomUtility.UtilityActivity" />
        <activity
            android:name=".Pricing.PriceActivity"
            android:theme="@style/AppTheme.NoBar" />
        <activity android:name=".Collection.CollectionActivity" />
        <activity android:name=".NewBooking.BookingActivity" />
        <activity android:name=".CheckOut.CheckOutActivity" />
        <activity android:name=".CheckIn.CheckInActivity" />
        <activity android:name=".BookingDetails.BookingDetailsActivity" />
        <activity android:name=".CheckIn.CheckInForm" />
        <activity android:name=".Policies.PoliciesActivity" />
        <activity
            android:name=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipe" -->
                <data
                    android:host="www.sairaa.org"
                    android:pathPrefix="/omroom"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity android:name=".instamojo.InstamojoActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>